 body {
     margin: auto;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     color: #1b1b1b;
     -webkit-tap-highlight-color: transparent;
     -webkit-font-smoothing: antialiased;
     background: #f9f9f9;
}
 h1, h2, h3 {
     font-family: 'Sarabun', sans-serif;
}
 h1 {
     font-size: 80px;
     color: #79ac10;
}
 h2 {
     font-size: 30px;
     color: #79ac10;
}
 h3 {
     text-decoration: underline;
     color: #79ac10;
}
 section {
     min-height: 80vh;
}
 .highlight {
     text-align: center;
     margin-top: 10%;
}
 .inner {
     width: 60%;
     margin: 0px auto;
}
/** NAV BAR **/
 #header {
     display: -moz-flex;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     -moz-justify-content: space-between;
     -webkit-justify-content: space-between;
     -ms-justify-content: space-between;
     justify-content: space-between;
     background-color: #ffffff;
     border-bottom: solid 1px rgba(160, 160, 160, 0.3);
     height: 3.5em;
     left: 0;
     line-height: 3.5em;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 10000;
}
 #header a {
     color: inherit;
     text-decoration: none;
     text-align: center;
     height: inherit;
     line-height: inherit;
     padding: 0 0 0 1.5em;
     white-space: nowrap;
     font-size: 0.7em;
}
 #header ul {
     list-style: none;
     margin: 0;
     padding-left: 0;
}
 #header ul li {
     display: inline-block;
     padding-left: 0;
}
 #header .links {
     -moz-flex: 1;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     border-left: solid 1px rgba(160, 160, 160, 0.3);
     height: inherit;
     line-height: inherit;
     margin-left: 1.5em;
     overflow: hidden;
     padding-left: 1.5em;
}
 #header .links ul li {
     border-left: solid 1px rgba(160, 160, 160, 0.3);
     line-height: 1;
     margin-left: 1em;
     padding-left: 1em;
}
 #header .links ul li:first-child {
     border-left: 0;
     margin-left: 0;
     padding-left: 0;
}
 #header .links ul li a {
     border-bottom: 0;
     font-family: "Raleway", Helvetica, sans-serif;
     font-size: 0.7em;
     font-weight: 400;
     letter-spacing: 0.2em;
     text-transform: uppercase;
}
 @media screen and (max-width: 980px) {
     #header .links {
         display: none;
    }
     #header .main {
         display: block;
    }
}
 @media screen and (max-width: 736px) {
     #header {
         height: 2.75em;
         line-height: 2.75em;
    }
     #header h1 {
         padding: 0 0 0 1em;
    }
     #header .main {
         display: block;
    }
     #header .main .search {
         display: none;
    }
}
/** NAV BAR END **/
/** SCROLL BUTTON **/
 .highlight .scroll-btn {
     padding-top: 60px;
}
 .highlight .scroll-btn span {
     position: absolute;
     left: 50%;
     width: 46px;
     height: 46px;
     margin-top:-50px;
     margin-left: -23px;
     border: 1px solid #e5e5e5;
     border-radius: 100%;
     box-sizing: border-box;
}
 .highlight .scroll-btn span::after {
     position: absolute;
     top: 50%;
     left: 50%;
     content: '';
     width: 16px;
     height: 16px;
     margin: -12px 0 0 -8px;
     border-left: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
     box-sizing: border-box;
}
 .highlight .scroll-btn span::before {
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     content: '';
     width: 44px;
     height: 44px;
     box-shadow: 0 0 0 0 rgba(255,255,255,.1);
     border-radius: 100%;
     opacity: 0;
     -webkit-animation: sdb03 3s infinite;
     animation: sdb03 3s infinite;
     box-sizing: border-box;
}
 @-webkit-keyframes sdb03 {
     0% {
         opacity: 0;
    }
     30% {
         opacity: 1;
    }
     60% {
         box-shadow: 0 0 0 60px rgba(0,0,0,.1);
         opacity: 0;
    }
     100% {
         opacity: 0;
    }
}
 @keyframes sdb03 {
     0% {
         opacity: 0;
    }
     30% {
         opacity: 1;
    }
     60% {
         box-shadow: 0 0 0 60px rgba(0,0,0,.1);
         opacity: 0;
    }
     100% {
         opacity: 0;
    }
}
/** SCROLL BUTTON END **/
 .col-left {
     float: left;
     height: 100%;
     padding-right: 10px;
     margin-top: 20px;
}
 .col-left img {
     margin-top: 60px;
     padding: 20px;
}
 .col-right {
     margin-left: 35%;
}
 section .highlight {
     background: #f9f9f9;
}
 #intro {
     background: #edeae5;
}
 #research {
     background: #fff;
}
 #projects {
     background: #f9f9f9;
}
 #news {
     background: #edeae5;
}
 .highlight-intro-divider {
     height: 50px;
     background-color: #f9f9f9;
     background-image: -webkit-linear-gradient(89deg, #edeae5 50%, #f9f9f9 50%);
}
 .intro-research-divider {
     height: 50px;
     background-color: #fff;
     background-image: -webkit-linear-gradient(91deg, #fff 50%, #edeae5 50%);
}
 .research-projects-divider {
     height: 50px;
     background-color: #f9f9f9;
     background-image: -webkit-linear-gradient(89deg, #f9f9f9 50%, #fff 50%);
}
 .projects-news-divider {
     height: 50px;
     background-color: #edeae5;
     background-image: -webkit-linear-gradient(91deg, #edeae5 50%, #f9f9f9 50%);
}
 .pub-item {
     border-radius: 10px;
     background: #f1f0ee;
     border: 1px solid #c5c5c5;
     box-shadow: 3px 1px #c4c4c4;
     margin-top: 10px;
     margin-bottom: 10px;
}
 .table_scroll {
     height: 600px;
     overflow-y: scroll;
}
 .styled_table {
     table-layout: auto;
     border-collapse: collapse;
     width: 100%;
     display: block;
     font-size: 0.8em;
     color: #000;
}
 .styled_table td, th {
     border: 1px solid transparent;
    /* No more visible border */
     height: 30px;
     transition: all 0.3s;
    /* Simple transition for hover effect */
}
 .styled_table th {
     background: #DFDFDF;
    /* Darken header a bit */
     font-weight: bold;
}
 .styled_table td {
     background: #FAFAFA;
     text-align: justify;
}
 .styled_table tr, td {
     padding: 10px;
}
/* Cells in even rows (2,4,6...) are one color */
 .styled_table tr:nth-child(even) td {
     background: #F1F1F1;
}
/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
 .styled_table tr:nth-child(odd) td {
     background: #FEFEFE;
}
 hr.fading_style {
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
 .zoom:hover {
     transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 #email {
     margin-top: -60px;
     font-size: 18px;
     padding-bottom: 20px;
}
 #education {
     font-size: 17px;
}
 #mainNav li {
     display: inline;
     margin: 0 20px 0 0;
}
 #subNav li {
     display: inline;
     padding-left: 10px;
}
 #subNav a {
     color: #000;
}
 .projects {
     width: 650px;
}
 .pname {
     float: left;
     text-align: right;
}
 .pdes {
     text-align: right;
}
 .labels {
     font-size: 18px;
     padding: 25px;
}
 .labels li {
     text-decoration: underline;
     display: inline;
     padding: 10px;
}
 #navBar {
     padding-bottom: 90px;
}
 #at {
     font-size: 30px;
     color: #1079ac;
}
 #news {
     padding-bottom: 20px;
     color: #000;
}
 a {
     text-decoration: none;
     color: #1079ac;
}
 a:hover {
     text-decoration: underline;
}
 .col-right {
     text-align: justify;
     color: #000;
}
 #who {
     padding-bottom: 40px;
     width: 800px;
}
 #more {
     padding-top: 40px;
}
 .image_placeholder {
     width: 250px;
     height: 400px;
}
 .datemark {
     font-color:red;
     font-style: bold;
}
 .pub-date {
     text-align:left;
     color: #1079ac;
     padding-bottom: 20px;
     padding-top: 15px;
}
 .pub-item {
     padding-left: 20px;
     text-align: left;
     padding-bottom: 10px;
}
 .pub-title:hover {
     color: #1079ac;
}
 .pub-detail {
     padding-top: 2px;
     font-size: 18px;
     padding-bottom: 2px 
}
 .pub-award {
     padding-top: 2px;
     font-size: 18px;
     padding-bottom: 2px;
     color: #f94f61;
     font-weight: bold;
}
 .pub-award img {
     width: 15px;
     height: 15px;
}
 .pub-title {
     padding-top: 2px;
     font-weight: bold;
     font-size: 20px;
     color: #00000;
     padding-bottom: 2px;
}
 .pub-access a {
     text-decoration:none;
}
 .pub-access {
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: lighter;
     font-size: 15px;
}
 .pub-access img {
     width: 15px;
     height: 15px;
}
 .pub-img img {
     border: 2px solid black;
}
 .custom_scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
     border-radius: 6px;
     background-color: #F5F5F5;
}
 .custom_scroll::-webkit-scrollbar {
     width: 8px;
     background-color: #F5F5F5;
}
 .custom_scroll::-webkit-scrollbar-thumb {
     border-radius: 6px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
     background-color: #d5d5d5;
}
 