
body {
    margin: auto;
    width: 800px;
    font-family: 'Gentium Book Basic';
    font-size: 20px;
    background: #f9f9f9;
    color: #1b1b1b;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.table_scroll {
    height: 600px;
    overflow-y: scroll;
}


.styled_table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    display: block;
    font-size: 0.8em;
    color: #000;
    
}


.styled_table td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}


.styled_table th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}


.styled_table td {  
    background: #FAFAFA;
    text-align: justify;
}


.styled_table tr, td {
    padding: 10px;
}

/* Cells in even rows (2,4,6...) are one color */        

.styled_table tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
.styled_table tr:nth-child(odd) td { background: #FEFEFE; }  

hr.fading_style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h1 {
    font-size: 80px;
    color: #79ac10;
}

h2 {
    font-size: 30px;
    color: #79ac10;
}

h3 {
    text-decoration: underline;
    color: #79ac10;
}

#audiocontrol {
    width: 250px;
    border: 1px solid #79ac10;
    background-color: rgb(215, 212, 213);
}

#audiocontrol a {
    color: #79ac10;
}


#email {
    margin-top: -60px;
    font-size: 18px;
    padding-bottom: 20px;
}

#education {
    font-size: 17px;
}

#mainNav li {
    display: inline;
    margin: 0 20px 0 0;
}

#subNav li {
    display: inline;
    padding-left: 10px;
}

#subNav a {
    color: #000;
}

.projects {
    width: 650px;
}
.pname {
    float: left;
    text-align: right;
}
.pdes {
    text-align: right;
}

.labels {
    font-size: 18px;
    padding: 25px;
}
.labels li {
    text-decoration: underline;
    display: inline;
    padding: 10px;
    
}

#navBar {
    padding-bottom: 20px;
}

#at {
    font-size: 30px;
    color: #1079ac;
}
#me {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 10px;
    margin-top: auto;
}

#news {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
}

a {
    text-decoration: none;
    color: #1079ac;
}
a:hover {
    text-decoration: underline;
}
#details {
    text-align: justify;
    color: #000;
}
#who {
    padding-bottom: 40px;
    width: 800px;
}

#more {
    padding-top: 40px;
}

.image_placeholder {
    width: 250px;
    height: 400px;
}

.datemark {
    font-color:red;
    font-style: bold;
}


.pub-date {
    text-align:left;
    color: #1079ac;
    padding-bottom: 20px;
    padding-top: 15px;
}

.pub-item {
    padding-left: 20px;
    text-align: left;
    padding-bottom: 10px;
}



.pub-title:hover {
    color: #1079ac;
}

.pub-detail {
    padding-top: 2px;
    font-size: 18px;
    padding-bottom: 2px
}

.pub-award {
    padding-top: 2px;
    font-size: 18px;
    padding-bottom: 2px;
    color:  #f94f61;
    font-weight: bold;
}

.pub-award img {
    width: 15px;
    height: 15px;
}

.pub-title {
    padding-top: 2px;
    font-weight: bold;
    font-size: 20px;
    color: #00000;
    padding-bottom: 2px;
}

.pub-access a {
    text-decoration:none;
}

.pub-access {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    font-size: 15px;
}

.pub-access img {
    width: 15px;
    height: 15px;
}


section {
  position: relative;
  width: 100%;
  height: 100%;
}


.demo #scroll {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo #scroll:hover {
  opacity: .5;
}

#intro_wrapper #scroll {
  padding-top: 60px;
}

#intro_wrapper #scroll span {
  position: absolute;
  top: 0;
  width: 46px;
  height: 46px;
  border: 1px solid #000;
  border-radius: 100%;
  box-sizing: border-box;
}

#intro_wrapper #scroll span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#intro_wrapper #scroll span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0,0,0,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(0,0,0,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(0,0,0,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.pub-img img {
  border: 2px solid black;
}

.custom_scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 6px;
    background-color: #F5F5F5;
}


.custom_scroll::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}


.custom_scroll::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #d5d5d5;
}
