@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake{
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 2s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block
}

#subText
{
position:fixed;
  visibility:hidden;
  font-family:"Candara";
  margin-left:500px;
  margin-top:120px;
  opacity:0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.labels
{
  font-family:"Rancho","Candara";
  font-size:29px;
  position:fixed;
}

#AcPro
{
  position:fixed;
  display:none;
  color:rgb(0,162,232);
  top:290px;
  left:0px;
}


#NaPro
{
  position:fixed;
  display: none; 
  top:490px;
  left:0px;
  color:rgb(67,192,123);
  
}

#Desg
{
  position:fixed;
  display:none;
  top:380px;
  left:0px;
  color:rgb(112,146,190);
  
}

#Oth
{
  position:fixed;
  display:none;
  top:230px;
  left:0px;
 color:rgb(224,35,97);
 
}

#text
{
  position:fixed;
  font-size:72px;
  font-family:"Candara";
  opacity:0.9;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#circles
{
	position:fixed;
}

#gCircle {
  position:fixed;
  width: 50px;
  height: 50px;
  background: rgb(67,192,123);
  margin-top: 40px;
  margin-left: 0px;
  border-radius: 200px; 
  opacity:0.2;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#rCircle {
  position:fixed;
  width: 45px;
  height: 45px;
  background: rgb(224,35,97);
  margin-top: 0px;
  margin-left: 43px;
  border-radius: 200px; 
  opacity:0.2;
  transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
}

#pCircle {
  position:fixed;
  width: 30px;
  height: 30px;
  background: rgb(112,146,190);
  margin-top: -1px;
  margin-left: 3px;
  border-radius: 200px; 
  opacity:0.2;
  transition: opacity .9s ease-in-out;
  -moz-transition: opacity .9s ease-in-out;
  -webkit-transition: opacity .9s ease-in-out;
}

#bCircle {
  position:fixed;
  width: 65px;
  height: 65px;
  background: rgb(0,162,232);
  margin-top: 60px;
  margin-left: 48px;
  border-radius: 200px; 
  opacity:0.2;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

#logo:hover{
  cursor: pointer;
}

#logo:hover #subText{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

#logo:hover #text{
  opacity:1;
  transition-delay:0s;
}

#logo:hover #rCircle{
	opacity:1;
	transition-delay:0s;
}

#logo:hover #pCircle{
	opacity:1;
	transition-delay:0s;
}

#logo:hover #gCircle{
	opacity:1;
	transition-delay:0s;
}

#logo:hover #bCircle{
	opacity:1;
	transition-delay:0s;
}

#navBar
{
	position:fixed;
	font-family:"Candara";
}

#navBar ul
{
	list-style-type: none;
	display: table-row;
	vertical-align: middle;
}

#navBar ul li
{
	display: table-cell;
	list-style-type: none;
	margin: 10px;
	vertical-align: middle;
}

a:link, a:visited {
 text-decoration: none; 
 color: white;
 opacity:1;
}

a:hover {
 text-decoration: none; 
 opacity:1;
 cursor:pointer;
}


    
